.home-body {
    background-image: url("../../images/newbg.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.single-vehicle-link {
    text-decoration: none;
}

.single-vehicle-link:hover {
    text-decoration: none;

}

.single-vehicle-card {
    padding: 25px 40px 2px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 20px;
}

.single-vehicle-card:hover {
    box-shadow: 5px 5px 5px darkgray;
}

.single-vehicle-card h2 {
    margin-top: 0px;
    text-decoration: none;
    color: black;
}

.vehicle-img {
    width: 150px;
    height: 150px;
}


@media (max-width: 575.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .home-body {
        text-align: center;
        min-height: 100%;
        min-width: 100%;
    }
}


@media (min-width: 1200px) {
    .home-vehicle-cards {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .home-body {
        text-align: center;
        position: fixed;
        min-height: 100%;
        min-width: 100%;
    }
}