
.home-vedio{
    position:absolute;
        width:100%;
        height:100%;
        left:50%;
        top:50%;
        object-fit:cover;
        transform:translate(-50%,-50%);
        z-index:-1;
}

.single-vehicle-link {
    text-decoration: none;
}

.single-vehicle-link:hover {
    text-decoration: none;

}

.single-vehicle-card {
    padding: 25px 40px 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    margin: 20px 20px;
}

.single-vehicle-card:hover {
    border-bottom: 4px solid #006271;
    background-color: rgb(255, 255, 255);
}

.single-vehicle-card h2 {
    margin-top: 0px;
    text-decoration: none;
    color: #006271;
}

.vehicle-img {
    width: 150px;
    height: 150px;
}


@media (max-width: 575.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .home-body {
        background-image: url("../../images/newbg.png");
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .single-vehicle-card {
        background-color: rgba(255, 255, 255, 0.863);
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .home-body {
        background-image: url("../../images/newbg.png");
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .single-vehicle-card {
        background-color: rgba(255, 255, 255, 0.863);
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-vehicle-cards {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

}


@media (min-width: 1200px) {
    .home-vehicle-cards {
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

   
}